@font-face {
  font-family: AvenirLTStdRoman;
  src: url("../font/AvenirLTStd-Roman.otf"); }

.content_bg {
  pointer-events: none;
  display: none; }

.bottom_curve {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: 0; }

#teva_tab2_48 {
  color: #9fd142;
  font-family: AvenirLTStdRoman;
  position: absolute;
  margin-top: -700px;
  margin-left: 69px;
  font-size: 40px; }

#teva_tab2_26 {
  color: #81c45b;
  font-family: AvenirLTStdRoman;
  position: absolute;
  margin-top: -520px;
  margin-left: 69px;
  font-size: 40px; }

#teva_tab2_19 {
  color: #269e75;
  font-family: AvenirLTStdRoman;
  position: absolute;
  margin-top: -525px;
  margin-left: 468px;
  font-size: 40px; }

#teva_tab2_35 {
  color: #ff8300;
  font-family: AvenirLTStdRoman;
  position: absolute;
  margin-top: -700px;
  margin-left: 468px;
  font-size: 40px; }

#teva_tab3_19 {
  color: #ff880b;
  font-family: AvenirLTStdRoman;
  position: absolute;
  margin-top: -760px;
  margin-left: 69px;
  font-size: 30px; }

#teva_tab4_48,
#teva_tab4_64,
#teva_tab4_71,
#teva_tab4_76 {
  color: #9fd142;
  font-family: AvenirLTStdRoman;
  position: absolute;
  font-size: 32px; }

#teva_tab4_71 {
  margin-top: -765px;
  margin-left: 155px; }

#teva_tab4_48 {
  margin-top: -765px;
  margin-left: 470px; }

#teva_tab4_76 {
  margin-top: -630px;
  margin-left: 155px; }

#teva_tab4_64 {
  margin-top: -630px;
  margin-left: 470px; }

#teva_tab4_67,
#teva_tab4_76_o,
#teva_tab4_79 {
  color: #ff8300;
  font-family: AvenirLTStdRoman;
  position: absolute;
  font-size: 35px;
  margin-top: -460px; }

#teva_tab4_79 {
  margin-left: 110px; }

#teva_tab4_76_o {
  margin-left: 290px; }

#teva_tab4_67 {
  margin-left: 460px; }

#teva_tab4_64_o {
  color: #ff8300;
  font-family: AvenirLTStdRoman;
  position: absolute;
  font-size: 20px;
  margin-top: -420px;
  margin-left: 650px; }

#teva_tab5_98 {
  color: #9fd142;
  font-family: AvenirLTStdRoman;
  position: absolute;
  font-size: 35px;
  margin-top: -420px;
  margin-left: 70px; }

#teva_tab5_100 {
  color: #269e75;
  font-family: AvenirLTStdRoman;
  position: absolute;
  font-size: 35px;
  margin-top: -420px;
  margin-left: 460px; }

#teva_tab5_60 {
  color: #69b93d;
  font-family: AvenirLTStdRoman;
  position: absolute;
  font-size: 35px;
  margin-top: -240px;
  margin-left: 70px; }

#teva_tab5_100_o {
  color: #ff8300;
  font-family: AvenirLTStdRoman;
  position: absolute;
  font-size: 35px;
  margin-top: -240px;
  margin-left: 460px; }

.tabs {
  width: 75.5%;
  top: 20.3%;
  left: 21.5%;
  opacity: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.tabs_active {
  opacity: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 2s;
  transition-delay: 2s; }

ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

ul.tab li {
  float: left;
  width: 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tevaDiv {
  width: 11.1% !important; }

.li_active {
  -webkit-filter: hue-rotate(-55deg) saturate(2.5);
  filter: hue-rotate(-55deg) saturate(2.5); }

.li_active_even {
  -webkit-filter: hue-rotate(-64deg) saturate(1.8) brightness(120%);
  filter: hue-rotate(-64deg) saturate(1.8) brightness(120%); }

.content {
  z-index: -1;
  width: 75.5%;
  height: 0;
  position: absolute;
  top: 22.65%;
  left: 21.5%;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.content_active {
  background-color: white;
  z-index: 0;
  opacity: 1;
  height: 61.5%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 2s;
  transition-delay: 2s; }

.content_active_tab {
  background-color: white;
  z-index: 0;
  opacity: 1;
  height: 61.5%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

#content_img {
  width: 100%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); }

.mCSB_inside > .mCSB_container {
  margin-right: 0; }

.menu_arrows {
  width: 20%;
  height: 1.8%;
  position: absolute;
  z-index: 1;
  top: 81.4%;
  left: 57.5%;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.menu_arrows_active {
  opacity: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 2s;
  transition-delay: 2s; }

.menu_arrows_left {
  width: 45%;
  position: absolute;
  top: 0;
  left: 7.8%;
  height: 100%; }

.menu_arrows_right {
  width: 45%;
  position: absolute;
  top: 0;
  left: 61.5%;
  height: 100%; }

.test_bed {
  display: none; }

.test_bed_left {
  width: 9%;
  position: absolute;
  top: 39%;
  left: 3%;
  height: 7%; }

.test_bed_right {
  width: 9%;
  position: absolute;
  top: 39%;
  left: 88%;
  height: 7%; }

.cities {
  display: none; }

.stockport {
  position: absolute;
  height: 2.2%;
  width: 13%;
  top: 69%;
  left: 70.6%; }

.wirral {
  position: absolute;
  height: 3%;
  width: 10%;
  top: 69.3%;
  left: 59.7%; }

.newark {
  position: absolute;
  height: 3%;
  width: 18%;
  top: 71.3%;
  left: 81.4%; }

.gloust {
  position: absolute;
  height: 3%;
  width: 21%;
  top: 75.2%;
  left: 70.5%; }

.bristol {
  position: absolute;
  height: 3%;
  width: 11%;
  top: 80%;
  left: 61%; }

.ashford {
  position: absolute;
  height: 3%;
  width: 13%;
  top: 82.5%;
  left: 81.5%; }

.devon {
  position: absolute;
  height: 4%;
  width: 18%;
  top: 84.1%;
  left: 48.5%; }

#harnessing_buttons {
  display: none; }

.smart_button {
  position: absolute;
  height: 3%;
  width: 31%;
  top: 60.7%;
  left: 25%;
  z-index: 1; }

.sheffield_button {
  position: absolute;
  height: 3%;
  width: 31%;
  top: 64.7%;
  left: 25%;
  z-index: 1; }

.personal_button {
  position: absolute;
  height: 3%;
  width: 31%;
  top: 60.7%;
  left: 61%;
  z-index: 1; }

.power_button {
  position: absolute;
  height: 3%;
  width: 31%;
  top: 64.7%;
  left: 61%;
  z-index: 1; }

#teva_buttons {
  display: none; }

.respiratory_button {
  position: absolute;
  height: 5%;
  width: 16%;
  top: 79%;
  left: 77.6%; }

.joint_button {
  position: absolute;
  height: 4.8%;
  width: 16.7%;
  top: 90%;
  left: 77%; }

#driving_buttons {
  display: none; }

.harnessing_button {
  position: absolute;
  height: 5.3%;
  width: 17%;
  top: 70.5%;
  left: 80.6%; }

.driving_joint_button {
  position: absolute;
  height: 5.3%;
  width: 17%;
  top: 70.5%;
  left: 58.6%; }

.back_to_teva {
  display: none;
  position: absolute;
  top: 1%;
  right: 2%;
  width: 14.2%; }

.back_to_teva_joint {
  display: none;
  position: absolute;
  top: 5%;
  right: 2%;
  width: 14.2%; }

.back_to_driving {
  display: none;
  position: absolute;
  top: 5%;
  right: 2%;
  width: 14.2%; }

#cities_content {
  display: none; }

#back_to_map {
  display: none; }

.back_to_map {
  position: absolute;
  height: 4%;
  width: 16.2%;
  top: 5.3%;
  left: 80.5%; }

.city_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#carousel_container {
  background-color: white;
  display: none;
  position: absolute;
  top: 192px;
  width: 746px;
  left: 4%;
  z-index: 5;
  height: 598px; }

.carousel_test_bed {
  height: 100%; }

.carousel-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell; }

.flickity-page-dots .dot {
  width: 15px !important;
  height: 15px !important; }

.flickity-page-dots {
  bottom: 7px !important; }

.references_faded {
  position: absolute;
  z-index: 1;
  width: 9.5%;
  right: 6.3%;
  top: 81.4%;
  opacity: 0; }

.references {
  position: absolute;
  z-index: 1;
  width: 9.5%;
  right: 6.3%;
  top: 81.4%;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.references_active {
  opacity: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 2s;
  transition-delay: 2s; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  margin: auto;
  border: 1% solid #888;
  width: 80%; }

/* The Close Button */
.close {
  position: absolute;
  top: 24%;
  left: 83.8%; }

.close2 {
  position: relative;
  left: 75%; }

.close2_img {
  width: 15%;
  height: auto;
  padding-top: 20px; }

#ongoing_project_wrapper {
  display: none;
  position: absolute;
  top: 85%;
  left: 27%;
  width: 27%;
  height: 10%; }

#close_city {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%; }

#ongoing_project {
  position: absolute;
  top: 40%; }

#zinc {
  position: absolute;
  color: white;
  top: 98%;
  left: 8%;
  font-size: 90%;
  font-family: arial; }
