@import url("jquery.mCustomScrollbar.css");
@import url("welcome.css");
@import url("menu.css");
@import url("content.css");
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden; }

img {
  width: 100%;
  height: 100%; }

#swoosh {
  position: absolute;
  width: 66%;
  height: auto;
  right: -1px;
  z-index: -1; }

#kenburns {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1; }

#kenburns1 {
  -webkit-animation: move1 240s linear infinite alternate;
          animation: move1 240s linear infinite alternate;
  /*background-size: 100% 100%;*/
  height: 100%;
  right: 0%;
  bottom: 0%;
  position: absolute;
  width: 150%;
  z-index: -1;
  opacity: 1; }

#kenburns2 {
  -webkit-animation: move2 240s linear infinite alternate;
          animation: move2 240s linear infinite alternate;
  /*background-size: 100% 100%;*/
  height: 100%;
  left: 0%;
  bottom: 0%;
  position: absolute;
  width: 150%;
  z-index: -1;
  opacity: 0; }

@-webkit-keyframes move1 {
  0% {
    opacity: 1;
    right: -10%;
    bottom: 0%;
    -webkit-transform: scale(1); }
  49% {
    opacity: 1;
    right: -10%;
    bottom: 20%;
    -webkit-transform: scale(1.6); }
  51% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes move2 {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  51% {
    opacity: 1;
    left: 0%;
    bottom: 0%;
    -webkit-transform: scale(1); }
  100% {
    opacity: 1;
    left: -60%;
    bottom: 00%;
    -webkit-transform: scale(1.6); } }
