#menu {
  /*display:none;*/ }

/* Meno Screen Elements*/
.harnessing {
  position: absolute;
  left: 27px;
  top: -32%;
  width: 205px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.managing {
  position: absolute;
  left: 232px;
  top: -34%;
  width: 205px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.joint {
  position: absolute;
  left: 437px;
  top: -30%;
  width: 205px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.central {
  position: absolute;
  left: 642px;
  top: 100%;
  width: 205px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.teva {
  position: absolute;
  left: 78.3%;
  top: 100%;
  width: 205px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.teva_logo {
  position: absolute;
  left: 78.3%;
  top: -15%;
  width: 205px;
  height: 11%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.work_with_nhs_desc {
  position: absolute;
  left: 78.3%;
  top: -26%;
  width: 205px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.driving {
  position: absolute;
  left: 232px;
  top: 100%;
  width: 205px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.respiratory {
  position: absolute;
  left: 2.5%;
  top: 100%;
  width: 205px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  z-index: 1; }

/* Menu Class used to animate */
#menu_icon_img {
  width: 50%; }

.menu_icon {
  position: absolute;
  left: 5.5%;
  top: 67.3%;
  width: 205px;
  opacity: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

.menu_icon_active {
  z-index: 1;
  opacity: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 2s;
          transition-delay: 2s; }

.teva_logo_active {
  position: absolute;
  left: 78.3%;
  top: 4%;
  width: 205px;
  height: 11%; }

.harnessing_active {
  opacity: 0.9;
  position: absolute;
  left: 27px;
  top: 205px;
  width: 205px; }

.managing_active {
  opacity: 0.9;
  position: absolute;
  left: 232px;
  top: 22%;
  width: 205px; }

.joint_active {
  opacity: 0.9;
  position: absolute;
  left: 437px;
  top: 40.8%;
  width: 205px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }

.central_active {
  opacity: 0.9;
  position: absolute;
  left: 642px;
  top: 57.8%;
  width: 205px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }

.teva_active {
  position: absolute;
  left: 78.3%;
  top: 51.5%;
  width: 205px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }

.work_with_nhs_desc_active {
  position: absolute;
  left: 78.3%;
  top: 15.5%;
  width: 205px; }

.driving_active {
  opacity: 0.9;
  position: absolute;
  left: 232px;
  top: 56.7%;
  width: 205px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }

.respiratory_active {
  opacity: 0.9;
  position: absolute;
  left: 2.5%;
  top: 53.3%;
  width: 205px; }

/*this is the selected menu option */
.menu_selected {
  position: absolute;
  left: 2.5%;
  top: 13%;
  width: 205px; }
