#welcome {
  display: block; }

/* Welcome Screen - elements */
#work_with_nhs {
  position: absolute;
  left: 11%;
  top: 59.5%;
  width: 56.7%; }

#work_with_nhs_icons {
  position: absolute;
  left: 44.4%;
  top: 64.6%;
  width: 23.3%; }

#enter {
  position: absolute;
  left: 67.7%;
  top: 65.3%;
  width: 23.3%; }
