#content .tabs {
  width: 100%;
  position: relative;
  top: 0%;
  left: 0%; }

ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

ul.tab li {
  float: left;
  width: 14.2%;
  display: -ms-flexbox;
  display: flex; }

.li_active {
  -webkit-filter: hue-rotate(133deg); }

.content {
  width: 75.5%;
  height: 0%;
  position: absolute;
  top: 20%;
  left: 21.5%;
  opacity: 0;
  transform-style: preserve-3d;
  transition-property: opacity;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out; }

.content_active {
  opacity: 1;
  height: 70.5%;
  transform-style: preserve-3d;
  transition-property: opacity;
  transition-delay: 2s; }

#content_img {
  width: 100%; }

.content_scroll {
  height: 95.5%;
  overflow: scroll;
  background: #d0e7f1; }

.mCSB_inside > .mCSB_container {
  margin-right: 0px; }

.menu_arrows {
  width: 19%;
  height: 9%;
  position: absolute;
  top: 81.3%;
  left: 2.5%;
  opacity: 0;
  transform-style: preserve-3d;
  transition-property: opacity;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out; }

.menu_arrows_active {
  opacity: 1;
  transform-style: preserve-3d;
  transition-property: opacity;
  transition-delay: 2s;
  background: #004F75; }

.menu_arrows_left {
  width: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%; }

.menu_arrows_right {
  width: 50%;
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%; }

.cities {
  display: none; }

.stockport {
  position: absolute;
  height: 2.2%;
  width: 13%;
  top: 69%;
  left: 70.6%; }

.wirral {
  position: absolute;
  height: 3%;
  width: 10%;
  top: 69.3%;
  left: 59.7%; }

.newark {
  position: absolute;
  height: 3%;
  width: 18%;
  top: 71.3%;
  left: 81.4%; }

.gloust {
  position: absolute;
  height: 3%;
  width: 21%;
  top: 75.2%;
  left: 70.5%; }

.bristol {
  position: absolute;
  height: 3%;
  width: 11%;
  top: 80%;
  left: 61%; }

.ashford {
  position: absolute;
  height: 3%;
  width: 13%;
  top: 82.5%;
  left: 81.5%; }

.devon {
  position: absolute;
  height: 4%;
  width: 18%;
  top: 84.1%;
  left: 48.5%; }

#teva_buttons {
  display: none; }

.respiratory_button {
  position: absolute;
  height: 5%;
  width: 16%;
  top: 79%;
  left: 77.6%; }

.joint_button {
  position: absolute;
  height: 4.8%;
  width: 16.7%;
  top: 90%;
  left: 77%; }

#driving_buttons {
  display: none; }

.harnessing_button {
  position: absolute;
  height: 5.3%;
  width: 17%;
  top: 70.5%;
  left: 80.6%; }

.driving_joint_button {
  position: absolute;
  height: 5.3%;
  width: 17%;
  top: 70.5%;
  left: 58.6%; }

.back_to_teva {
  display: none;
  position: absolute;
  top: 1%;
  right: 2%;
  width: 14.2%; }

.back_to_driving {
  display: none;
  position: absolute;
  top: 5%;
  right: 2%;
  width: 14.2%; }

#cities_content {
  display: none; }

#back_to_map {
  display: none; }

.back_to_map {
  position: absolute;
  height: 4%;
  width: 16.2%;
  top: 5.3%;
  left: 80.5%; }

.city_content {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%; }

#references {
  position: absolute;
  height: 5%;
  width: 17%;
  right: 0%; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  margin: auto;
  border: 1% solid #888;
  width: 80%; }

/* The Close Button */
.close {
  position: absolute;
  top: 19.75%;
  left: 81.8%;
  height: 2.2%; }

#ongoing_project_wrapper {
  display: none;
  position: absolute;
  top: 85%;
  left: 27%;
  width: 27%;
  height: 10%; }

#close_city {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 40%; }

#ongoing_project {
  position: absolute;
  top: 40%; }

#zinc {
  position: absolute;
  color: white;
  top: 98%;
  left: 8%;
  font-size: 90%;
  font-family: arial; }
