@import url("jquery.mCustomScrollbar.css");
@import url("welcome.css");
@import url("menu.css");
@import url("content.css");
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url(../images/background.png) no-repeat center center fixed;
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  width: 100%; }

img {
  width: 100%;
  height: 100%; }
