#menu {
  /*display:none;*/ }

/* Meno Screen Elements*/
.menu_icon {
  position: absolute;
  left: 2.5%;
  top: 100%;
  width: 19%;
  transform-style: preserve-3d;
  transition: all 2s ease-out; }

.harnessing {
  position: absolute;
  left: 2.5%;
  top: -32%;
  width: 19%;
  transform-style: preserve-3d;
  transition: all 2s ease-out; }

.managing {
  position: absolute;
  left: 21.5%;
  top: -34%;
  width: 19%;
  transform-style: preserve-3d;
  transition: all 2s ease-out; }

.joint {
  position: absolute;
  left: 40.4%;
  top: -30%;
  width: 19%;
  transform-style: preserve-3d;
  transition: all 2s ease-out; }

.central {
  position: absolute;
  left: 59.3%;
  top: 100%;
  width: 19%;
  transform-style: preserve-3d;
  transition: all 2s ease-out; }

.teva {
  position: absolute;
  left: 78.3%;
  top: 100%;
  width: 19%;
  transform-style: preserve-3d;
  transition: all 2s ease-out; }

.teva_logo {
  position: absolute;
  left: 78.3%;
  top: -15%;
  width: 19%;
  height: 11%;
  transform-style: preserve-3d;
  transition: all 2s ease-out; }

.work_with_nhs_desc {
  position: absolute;
  left: 78.3%;
  top: -26%;
  width: 19%;
  transform-style: preserve-3d;
  transition: all 2s ease-out; }

.driving {
  position: absolute;
  left: 21.5%;
  top: 100%;
  width: 19%;
  transform-style: preserve-3d;
  transition: all 2s ease-out; }

.respiratory {
  position: absolute;
  left: 2.5%;
  top: 100%;
  width: 19%;
  transform-style: preserve-3d;
  transition: all 2s ease-out;
  z-index: 1; }

/* Menu Class used to animate */
.menu_icon_active {
  position: absolute;
  left: 2.5%;
  top: 77.3%;
  width: 19%; }

.teva_logo_active {
  position: absolute;
  left: 78.3%;
  top: 4%;
  width: 19%;
  height: 11%; }

.harnessing_active {
  position: absolute;
  left: 2.5%;
  top: 19%;
  width: 19%; }

.managing_active {
  position: absolute;
  left: 21.5%;
  top: 22%;
  width: 19%; }

.joint_active {
  position: absolute;
  left: 40.4%;
  top: 40.8%;
  width: 19%;
  transition-delay: 0.2s; }

.central_active {
  position: absolute;
  left: 59.3%;
  top: 57.8%;
  width: 19%;
  transition-delay: 0.2s; }

.teva_active {
  position: absolute;
  left: 78.3%;
  top: 51.5%;
  width: 19%;
  transition-delay: 0.2s; }

.work_with_nhs_desc_active {
  position: absolute;
  left: 78.3%;
  top: 15.5%;
  width: 19%; }

.driving_active {
  position: absolute;
  left: 21.5%;
  top: 56.7%;
  width: 19%;
  transition-delay: 0.2s; }

.respiratory_active {
  position: absolute;
  left: 2.5%;
  top: 53.3%;
  width: 19%; }

/*this is the selected menu option */
.menu_selected {
  position: absolute;
  left: 2.5%;
  top: 13%;
  width: 19%; }
